$navbar-default-bg: orange;

@import "bootstrap-sprockets";
@import "bootstrap";

#blogsite {
	float: left;
	font-size: 1.7em;
	color: blue;
	text-transform: uppercase;
	letter-spacing: -1px;

}

#logo:hover{
	color: red;
	text-decoration: none;
}