$navbar-default-bg: orange;

@import "bootstrap-sprockets";
@import "bootstrap";

#blogsite {
	float: left;
	font-size: 1.7em;
	color: blue;
	text-transform: uppercase;
	letter-spacing: -1px;

}

#logo:hover{
	color: red;
	text-decoration: none;
}

.jumbotron{
	background-image: asset-url('backimage.jpg');
}

.jumbotron h1{
	color: yellow;
}

footer{
	maring-top: 45px;
	padding-top: 5px;
	border-top: 1px solid green;
	color: #777;

}

footer p1 {
	float: left;
}

footer p2{
	float: right;
}

.article-actions{
	
	border-top: 1px solid #eaeaea;
	padding-top: 5px
}

.description {
	margin-top: 0;
}

.article-title{
	
	font-weight: bold;
	font-size: 1.5em
}

.article-body{
	border-top: 1px solid #eaeaea;
	padding-ttop: 15px;
	padding-bottom: 15px;
	

}

.articles-meta-details{
	border-top: 1px solid #eaeaea;
	margin-top: 15px;

}