<div class ="container">
<footer class="footer">
	<p1>
		Copyright &copy <a href='https://www.wikipedia.com'  > someBlogSite </a> by <a href='https://www.google.com'> aBlogger</a>

	</p1>
		
	<p2>
		<%= link_to "About", about_path %>
	</p2>

	</small>
</footer>

</div>